<div class="container">
    <div class="gap-row"></div>

    <div class="contact-section-head text-center wow fadeInLeft" data-wow-delay="0.4s">
        <h3>Contact Us</h3>
        <p>Always happy to serve you</p>
    </div>
    <div class="gap-row"></div>
    <div class="gap-row"></div>
    <div class="map">
        <img src="images/map.jpg" alt="" />
        <div class="location wow bounceIn" data-wow-delay="0.4s">
            <div class="address text-center">
                <h4>Address</h4>
                <p>Menu wrap co.Ltd</p>
                <p>Ghatkopar</p>
                <p>Mumbai. 400 001</p>
                <p>Call : +989-2098-920</p>
                <a href="#" mailto="info@menuwrap.com">info@menuwrap.com</a>
                <span class="locate"><img src="images/locate.png" alt="" /></span>
            </div>
            <div class="bottom-logo text-center">
                <img src="images/logo.png" alt="" />
            </div>
        </div>
    </div>
</div>
<script>
    new WOW().init();
</script>