<div class="container">
    <div class="copyright text-center wow bounceInLeft" data-wow-delay="0.4s">
        <p>Copyright &copy; 2015 All rights reserved by Menuwrap Ltd. | Template by  <a href="http://w3layouts.com">  W3layouts</a></p>
    </div>
    <div class="text-center">
        <div class="gap-row"> </div>
        <div class="bottom-menu wow bounceInRight" data-wow-delay="0.4s">
            <label>Developed by</label>
        </div>
        <p class="call copyright wow fadeInRight" data-wow-delay="0.4s">
            <a class="wow fadeInLeft" data-wow-delay="0.4s" mailto="ggnair_2007@yahoo.com" title="Girish G Nair" href="#">GGN</a>  :
            <i class="phone wow fadeInLeft" data-wow-delay="0.4s"></i> +91-7718855080

        </p>
        <div class="social-icons">
            <a class="wow bounceIn" data-wow-delay="0.4s" href="http://www.twitter.com/girish_spidy"><i class="twitter"></i></a>
            <a class="wow bounceIn" data-wow-delay="0.4s" href="https://www.facebook.com/ggnair1989"><i class="facebook"></i></a>
            <a class="wow bounceIn" data-wow-delay="0.4s" href="http://in.linkedin.com/pub/girish-nair/25/599/6a0/"><i class="linkedin"></i></a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        new WOW().init();
    });
</script>