
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



.jumbotron {
    padding-bottom: 0px !important;
    padding-top: 10px !important;
}

.carousel-indicators {
    position: relative !important;
}


.no-padding {
    padding: 0px !important;
}

.no-left-padding {
    padding-left: 0px !important;
}

.no-right-padding {
    padding-right: 0px !important;
}

.token-input-list {
    width: 100% !important;
}

.vendor-list {
    border-bottom-style: solid;
    border: 2px solid;
    background-color: #808080;
}

.inner-addon {
    position: relative;
}

    /* style icon */
    .inner-addon .glyphicon {
        position: absolute;
        padding: 5px;
        pointer-events: none;
    }

/* align icon */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left:0px;
}

.right-addon input {
    padding-right:0px;
}


.menu-input {
    padding-left: 25px;
}

.menu-heading,.menu-heading a {
    font-size: 20px;
    font-weight: bolder;
    color: #000000;
}

.background-home {
    background-image: url('images/mw_bg_img.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    background-position-y: -200px;
}

.hand-cursor {
    cursor:pointer;
}

.min-height-divs {
    min-height: 800px;
}