<div class="background-home min-height-divs">
    <div id="searh-result-div">
        <div style="position:absolute;top:150px;width:100%">
            <div class="text-center">
                <span style="font-size:50px;color:white"> Menu Wrap </span>
                <h3 style="font-size:30px;color:white">Wrapping up happiness</h3>
            </div>
        </div>
    </div>
    <div id="restraunt-menu-div">
    </div>
</div>

