@model List<DataAccessLayer.SearchResult>

<div class="row no-margin">
    <div class="col-xs-2 filter-height min-height-divs" style="background-color:black;">
        <form id="CustomFilterForm" class="filter">
            <div class="gap-row"></div>
            <h4>Select Filters</h4>
            <hr />
            <div class="filter-content">
                <div class="subtitle">Type</div>
                <input type="radio" id="veg" value="true" name="isVeg" />
                <label for="veg">Veg</label>&nbsp;&nbsp;
                <input type="radio" id="non-veg" value="false" name="isVeg" />
                <label for="veg">Non-Veg</label>
                <br /><br />
                <div class="subtitle">Max Cost</div>
                <input type=range min=0 max=1000 value=1000 id=fader step=50 oninput="outputUpdate(value)" style="vertical-align:middle">
                <input name="maxCost" type="text" id="cost" value="1000" style="width:40px" readonly="readonly">
                <br /><br />
                <div class="subtitle">Advanced Filters</div>
                <div class="AdvanceFilterdiv">
                    <select name="FilterId" class="form-control" id="advanceFilterDdl"><option value="">-Select Filter-</option></select>
                </div>
                <br /><br />
                <div class="subtitle">Cusine Filters</div>
                <div class="CusineFilterdiv">
                    <select name="CusineId" class="form-control" id="CusineFilterDdl"><option value="">-Select Cuisine-</option></select>
                    <br />
                    <select name="SubCusineId" class="form-control" id="SubCusineFilterDdl"><option value="">-Select-</option></select>
                </div>
            </div>
            <hr />
            <input type="button" value="Filter" onclick="GetFilteredResult();" class="btn btn-warning form-control" id="FilterSubmit">
        </form>
    </div>

    <div class="col-xs-9 search-result-list-div">
        <div class="margin-top">&nbsp;</div>
        <div id="FoodListPartialViewDiv">
            @Html.Partial("_FilteredFoodResult", Model)
        </div>
    </div>

</div>
<input type="hidden" id="GetFilterUrl" value="@Url.Action("GetFilter","Home")" />
<script>
    $(document).ready(function () {
        $.ajax({
            url: $('#GetFilterUrl').val(),
            data: { category_Id: $('#foodCategory').val() },
            type: "POST",
        }).success(function (data) {
            if (data && data.length > 0) {
                $.each(data, function (i, item) {
                    $('#advanceFilterDdl').append('<option value="' + item.Value + '">' + item.Text + '</option>');
                });
            } else {
                $('#advanceFilterDdl').remove('option').not('option[Value=""]');
            }
        }).error(function () {
            alert("Some Error Occured");
        });
    });
    function GetMenu(obj) {
        $('#searh-result-div').slideUp('fast');
        $.ajax({
            url: $(obj).attr('data-url'),
            data: { restID: $(obj).attr('data-restID'), catId: $(obj).attr('data-catId') },
            type: "POST",
        }).success(function (data) {
            $('#restraunt-menu-div').html(data);
            $('#restraunt-menu-div').slideDown('slow');
            debugger;
            ReSizeHeight();
        }).error(function () {
            alert("Some Error Occured");
        });
    }
    function outputUpdate(vol) {
        document.querySelector('#cost').value = vol;
    }
    function ReSizeHeight() {
        $('.filter-height').css('height', $('.search-result-list-div').css('height'));
    }
    function GetFilteredResult() {
        $('#FoodListPartialViewDiv').slideUp('fast');
        $('#restraunt-menu-div').hide();
        debugger;
        var jsonData = $('#SearchFoodCat').serialize();
        jsonData += '&' + $('#CustomFilterForm').serialize();
        $.ajax({
            url: $('#SearchFoodCat').attr('action'),
            data: jsonData,
            type: "POST",
        }).success(function (data) {
            $('#FoodListPartialViewDiv').html(data);
            $('#FoodListPartialViewDiv').slideDown('slow');
        }).error(function () {
            alert("Some Error Occured");
        });
    }
</script>
