@model List<DataAccessLayer.SearchResult>

<div class="row no-margin">
    <div class="col-xs-2 filter-height min-height-divs" style="background-color:black;">
        <form id="CustomFilterForm" class="filter">
            <div class="gap-row"></div>
            <h4>Select Filters</h4>
            <hr />
            <div class="filter-content">
                <div class="subtitle">Type</div>
                <input type="radio" id="veg" value="true" name="isVeg" />
                <label for="veg">Veg</label>&nbsp;&nbsp;
                <input type="radio" id="non-veg" value="false" name="isVeg" />
                <label for="veg">Non-Veg</label>
                <br /><br />
                <div class="subtitle">Max Cost</div>
                <input type=range min=0 max=1000 value=1000 id=fader step=50 oninput="outputUpdate(value)" style="vertical-align:middle">
                <input name="maxCost" type="text" id="cost" value="1000" style="width:40px" readonly="readonly">
                <br /><br />
                <div class="subtitle">Advanced Filters</div>
                <div class="AdvanceFilterdiv">
                    <select name="FilterId" class="form-control" id="advanceFilterDdl"><option value="">-Select Filter-</option></select>
                </div>
                <br /><br />
                <div class="subtitle">Cusine Filters</div>
                <div class="CusineFilterdiv">
                    <select name="CusineId" class="form-control" id="CusineFilterDdl"><option value="">-Select Cuisine-</option></select>
                    <br />
                    <select name="SubCusineId" class="form-control" id="SubCusineFilterDdl"><option value="">-Select Sub Cuisine-</option></select>
                </div>
            </div>
            <hr />
            <input type="button" value="Apply Filters" onclick="GetFilteredResult();" class="btn btn-warning form-control" id="FilterSubmit">
        </form>
    </div>

    <div class="col-xs-9 search-result-list-div">
        <div class="margin-top">&nbsp;</div>
        <div id="FoodListPartialViewDiv">
            @Html.Partial("_FilteredFoodResult", Model)
        </div>
    </div>

</div>
<input type="hidden" id="GetFilterUrl" value="@Url.Action("GetFilter","Home")" />
<input type="hidden" id="GetSubCuisinesUrl" value="@Url.Action("GetSubCuisines", "Home")" />
<script>
    $(document).ready(function () {
        InitiateSearchResultPage(); 
    });
</script>
